body{
    margin: 0px;
    text-align: center;
    font-family: cursive;
}

hr{
    color: #EAF6F6;
    border-style: dotted none none;
    width: 5%;
    border-width: 5px;
    margin: 100px auto;
}

.top-container{
    background-color: #DBE6FD;
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 0px;
    padding-top: 80px;
    position: relative;

}

.middle-container{
    background-color:#47597E;
    color: #CAF7E3;
    padding: 100px;
}

.profile{
    
}

.skill-row{
    width: 50%;
    margin: 100px auto;
    text-align: left;
    line-height: 2;
}

.sword{
    width: 25%;
    float: left;
    margin-right: 30px;
    
}

.electrical{
    width: 25%;
    float: right;
    margin-left: 30px;
}

.contact-message{
    margin:40px auto 60px;
}

.bottom-container{
    background-color: #DBE6FD;
    padding-top:20px ;
}

h1{
    color:#293B5F ;
    font-size: 562.5%;
    margin-block-start: 0px;
    margin-block-end: 0px;

}


h2{
    font-size: 2.5rem;
    color:#DFEEEA;
    font-weight: normal;
}

.job{
    color:#293B5F ;
}

h3{
    color: #DEEEEA;
}

.btn{
    color: #DEEEEA;
    
    background: #3498db;
    background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
    background-image: -moz-linear-gradient(top, #3498db, #2980b9);
    background-image: -ms-linear-gradient(top, #3498db, #2980b9);
    background-image: -o-linear-gradient(top, #3498db, #2980b9);
    background-image: linear-gradient(to bottom, #3498db, #2980b9);
    -webkit-border-radius: 15;
    -moz-border-radius: 15;
    border-radius: 15px;
    font-family: cursive;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
}

.btn:hover {
    background: #3cb0fd;
    background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
    background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
    text-decoration: none;
  }

.footer-link{
    color: #0C4271;
    font-family: cursive;
    margin: 10px 10px;
    text-decoration: none;
}

.footer-link:hover{
    color: #39A6A3;
}

.copyright{
    padding-bottom: 20px;
    margin-bottom: 0;
    font-size: 0.75rem;
}